*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    max-width: 30px 30px;
    padding-top: 20px 20px;

}
/* !header  */
.header{
    background-color: rgb(229, 247, 245);
    padding:  100px;

}
.nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    bottom: 60px;
}
.header-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: rgb(44, 72, 95);
}
.btn {
    border-radius: 50px;
    width: 15%;
    background-color: rgb(1, 183, 182);
    color: white;
    border: none;
    transition: all
}
.header-link2{
    text-decoration: none;
    color: gainsboro;
}
.last-link-header{
    color: gray;
    text-decoration: none;
}
.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.last-link{
    display: flex;
    gap: 10px;
}
.titre-headr{
    color: rgb(41, 73, 95);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* !first section  */
.container-div-first-section{
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 2%;
    
}
.first-child1{
    display: flex;
    flex-direction:column;
    border-radius: 10px;
    border: 1px  solid gray;
    width: 400px;
    height: 240px;
    padding: 10px;
}
.icon-google{
    width: 40px;
}
.icon-google1{
    display: flex;
    position: relative;
left: 90px;
}
.parag-emily{
    color:gray;
}

.first-mg{
    border-radius: 100%;
    width: 40px;
    height: 40px;

}
.paragraphe{
    /* display: flex; */
    
    color: gray;
}
.disv-chil-child1{
    display: flex;
    flex-direction: row;
    
}
.imgg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.emily{
flex-direction: column;
/* padding-top: 10px; */
/* gap: 10px; */
}
/* !second-section  */
.second-section-blue{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 183, 181);
    padding: 50px;
}
.paragra1{
    color: white;
}
.btn2 {
    border-radius: 20px;
    width: 15%;
    border: 1px solid white;
    background-color: rgb(0, 183, 181);
}
/* TODO FOOTER  */
.footer{
    background-color: rgb(0, 84, 97);
    /* width: 200%; */
    padding: 10px;
    /* height: 500px; */
}
.container-div-footer{
    display: flex;
    gap: 40px;
    padding:40px ;
}
.first-chld1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Optlx{
    color: white;
}
.PARAG{
    color: gainsboro;
}
.Icons-Footr{
    display: flex;
    gap: 30px;
    color: gainsboro;
}
.second-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.PARAG1{
    color: gainsboro;
}
.third-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lst-child{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 30px;
}
.about-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.last-div-5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.Copy{
    font-weight: bold;
    color: white;
}
.policy{
    display: flex;
    gap: 10px;
}



 